body{
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
}

.navbar-brand h1{
    font-size: 28px;
    font-family: 'Galada', cursive;
}

.title_page {
    font-family: 'Oxygen', sans-serif;
}